node_modules
.next
out
.env
.env*.local
npm-debug.log*
.DS_Store

/lib/generated/prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/dev.db-wal
/prisma/dev.db-shm
/dev.db
/dev.db-journal
/dev.db-wal
/dev.db-shm
public/downloads/